doctype html
html
  head
    title Empower Generations
    link(rel="stylesheet", type="text/css", href="css/base.css")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  body
    include compositions/activity-bar/activity-bar
    
    
    
